h1 {
    color: black;
    text-align: Center;
}

p {
    color: dimgrey;
    text-align: center;
}
#new {
    color: black;
    text-align: center;
}
p3 {
    color: red;
    text-align: left;
}

img {
    opacity:0;
}
.text-center {
    text-align: center;
}